.home-container {
  background-color: #161625;
  min-height: 100vh;
  background-size: cover;
}

.search-icon {
  background-color: #2f2f43;
  color: white;
  height: 34px;
  width: 32px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

@media screen and (max-width: 576px) {
  .search-icon {
    height: 26px;
    width: 26px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.search-input {
  background-color: #2f2f43;
  color: #94a3b8;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 70%;
  outline: none;
  padding-left: 7px;
}

@media screen and (min-width: 576px) {
  .search-input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
  }
}

.search-states {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
